* {
    font-family: "Harry P";
    cursor: url(oth256.cur), auto;
    color: #ddb941;
  }
  
  body {
    background-color: black;
  }
  
  h1 {
    font-size: 100px;
    text-align: left;
    margin-top: 6%;
    margin-left: 3%;
    color: #ddb941;
  }
  
  .bigMenu {
    display: flex;
  }
  
  div.menu_left {
    margin-right: 100px;
    padding: 30px;
    text-align: center;
    position: fixed;
    margin-left: 8%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  div.menu_left .menu-item {
    transition: all 0.2s ease-out;
    margin-bottom: 30%;
  }
  
  div.menu_left .menu-item:hover {
    opacity: 0.7;
    translate: 5px 0px;
  }
  
  div.menu_right {
    flex-grow: 1;
  
    display: flex;
    flex-direction: column;
  }
  
  .item_row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 85%;
    align-self: flex-end;
    margin-bottom: 10%;
  }
  
  .item_row div a {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transition: all 0.2s ease-out;
    /* flex-wrap: wrap; */
  }
  
  .item_row div a:hover {
    translate: 0px -5px;
    opacity: 0.9;
  }
  
  .item_row div a img {
    margin-bottom: 40px;
  }
  
  p {
    text-align: center;
    margin-top: 0px;
  }
  
  #copyR {
    margin-top: 30%;
    font-size: 30px;
  }
  
  img {
    width: 700px;
    height: auto;
  
  } 

  .broom2, .broom3 {
    margin-top: 15%;
  }
  
  
  a {
    color: #ddb941;
    font-size: 80px;
    text-decoration: none;
    font-size: 50px;
  }
  
  a#a3 {
    text-decoration: underline;
  }
  
  /* @media screen and (max-width: 1383px) {
    div.menu_left {
      position: relative;
      flex-direction: row;
      justify-content: space-between;
      margin-left: 0px;
      margin-right: 0px;
      flex-wrap: wrap;
    }
  
    .bigMenu {
      flex-direction: column;
    }
  } */